---

---

<div class="flex flex-col justify-center items-center gap-2">
    <input class="border-white border-[1px] bg-gray-900 w-[100%] h-9 pl-4 py-6" placeholder="Your Name" type="text">
    <input class="border-white border-[1px] bg-gray-900 w-[100%] h-9 pl-4 py-6" placeholder="User Name" type="text">
    <input class="border-white border-[1px] bg-gray-900 w-[100%] h-9 pl-4 py-6" placeholder="Email Address" type="text">
</div>